@import "@codedrops/react-ui/dist/styles/colors.scss";

@mixin neo-shadow($size: 8px) {
  $negativeSize: -$size;
  box-shadow: $size $size $size rgba($color: $bar, $alpha: 0.2),
    $negativeSize $negativeSize $size $white;
  border: none;
}

header {
  display: flex;
  align-items: center;
  background: $strokeOne;
  padding: 20px;
  h4 {
    margin: 0;
    padding-left: 4px;
    font-size: 1.6rem;
    color: $bar;
    text-transform: uppercase;
    span {
      font-size: 2rem;
      opacity: 0.8;
    }
  }
}

.item {
  opacity: 0;
  color: white;
  cursor: pointer;
  position: relative;

  $colors: 1 $blue, 2 $watermelon, 3 $orchid, 4 $green, 5 $yellow;
  @each $i, $co in $colors {
    &:nth-child(#{$i}) {
      background: $co;
      animation: 0.1s #{$i * 0.1}s fade-in forwards;
    }
  }
}

section:not(.home) {
  height: 500px;
  width: 500px;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    height: 94%;
    width: 100%;
    overflow: auto;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
  &.bar {
    background: $bar;
    width: 100%;
    height: 100%;
    position: static;
    transform: none;
  }

  &.neo {
    @include neo-shadow;
  }
}

section.home {
  nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    a {
      width: 120px;
      height: 80px;
      background: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;
      text-align: center;
      padding: 0 6px;
      font-size: 1.2rem;
      transition: 0.3s;
      &:hover {
        background: rgba($green, 0.8);
      }
    }
  }
}

section.scroll-to-top {
  p {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }

  .button {
    position: absolute;
    bottom: 8px;
    right: 10px;
    border: none;
    outline: none;
    background: $green;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
  }
  .button:hover {
    background: $blue;
    cursor: pointer;
  }
}

section.dropdown {
  .container {
    position: relative;
    .label {
      padding: 8px;
      background: $steel;
      color: white;
      cursor: pointer;
    }
    .dropdown {
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      width: 100%;
      .item {
        margin-bottom: 2px;
        width: 100%;
        padding: 10px;
        bottom: 12px;
      }
    }
  }
}

// section.dropdown {
//   .container {
//     position: relative;
//     .label {
//       padding: 8px;
//       background: $bar;
//       color: white;
//     }
//     .dropdown {
//       position: absolute;
//       top: -116px;
//       left: 100%;
//       $list: 1 -30 -30, 2 -15 -10, 3 0, 4 15 -10, 5 30 -30;
//       @each $i, $value, $value2 in $list {
//         .item:nth-child(#{$i}) {
//           animation: 0.1s #{$i * 0.1}s fade-in forwards;
//           transform: rotate(#{$value}deg) translate(#{$value2}px);
//         }
//       }
//       .item {
//         margin: 20px;
//         width: 80px;
//         padding: 8px;
//         background: $yellow;
//         opacity: 0;
//       }
//     }
//   }
// }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

section.hide-scrollbar {
  height: 300px;
  width: 250px;
  .content {
  }
  .content::-webkit-scrollbar {
    display: none;
  }
}

section.event-delegation {
  .item {
    height: 50px;
    width: 50px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
